<!DOCTYPE html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="​DiningOn The Lake, ​breakfast, 01, 02, 03, 04, 05, 06, Delivery services, Fast Food, Burger Menu, Delivery Services, Subscribe, location, follow us"
    />
    <meta name="description" content="" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <title>Trà Sữa DUCK KING</title>
    <link rel="stylesheet" href="/css/home/nicepage.css" media="screen" />
    <link rel="stylesheet" href="/css/home/Page-1.css" media="screen" />
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/home.css" media="screen" />


    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome6.1.1.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link
      rel="icon"
      href="/images/favicon_io/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="/js/home/jquery.js"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="/js/home/nicepage.js"
      defer=""
    ></script>
    <meta name="generator" content="Nicepage 4.10.5, nicepage.com" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Kalam:300,400,700|Alata:400"
    />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": ""
      }
    </script>
    <meta name="theme-color" content="#478ac9" />
    <meta property="og:title" content="Page 1" />
    <meta property="og:type" content="website" />
  </head>
  <title>Trang chủ</title>
  <body
    data-home-page="Page-1.html"
    data-home-page-title="Page 1"
    class="u-body u-xl-mode"
  >
    <%- include('../partials/header', {userFName, userRole}) %>
    <section class="main">
      <div class="main_top">
          <div class="main-benner">
              <div id="carouselExample" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../images/slideshow_1.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../images/slideshow_2.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../images/slideshow_3.webp" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
          </div>
      </div>

      <div class="article">
        <div class="article-edit">
          <!-- Sán phẩm bán chạy -->
          <div class="article-edit-heading">
            <h2>Sản phẩm bán chạy</h2>
            <div class="article-edit-heading2">
              <a href="#">Xem Thêm</a>
            </div>
          </div>
          <!-- Phần sản phẩm -->
          <div class="article-edit-product1">
            <div class="article-edit-product1-edit">
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Phần giưới thiệu qua -->
      <div class="article2">
        <div class="article2_edit">
          <div class="article2-edit-right">
            <div class="article2-edit-right_edit">
              <div class="article2-edit-right_edit_BT">
                <div class="article2-edit-right_edit_BT_img">
                  <img src="../images/block_home_category1.webp" alt="">
                </div>
                <div class="article2-edit-right_edit_BT_text">
                  <p>Bộ sưu Tập</p>
                  <h4>Đại Sứ Thương Hiệu</h4>
                </div>
              </div>
              <div class="article2-edit-right_edit_BT">
                <div class="article2-edit-right_edit_BT_img">
                  <img src="../images/block_home_category1.webp" alt="">
                </div>
                <div class="article2-edit-right_edit_BT_text">
                  <p>Bộ sưu Tập</p>
                  <h4>Đại Sứ Thương Hiệu</h4>
                </div>
              </div>
              <div class="article2-edit-right_edit_BT">
                <div class="article2-edit-right_edit_BT_img">
                  <img src="../images/block_home_category1.webp" alt="">
                </div>
                <div class="article2-edit-right_edit_BT_text">
                  <p>Bộ sưu Tập</p>
                  <h4>Đại Sứ Thương Hiệu</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sản phẩm khuyến mãi -->
      <div class="article">
        <div class="article-edit">
          <!-- Sán phẩm bán chạy -->
          <div class="article-edit-heading">
            <h2>Sản phẩm bán chạy</h2>
            <div class="article-edit-heading2">
              <a href="#">Xem Thêm</a>
            </div>
          </div>
          <!-- Phần sản phẩm -->
          <div class="article-edit-product1">
            <div class="article-edit-product1-edit">
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="article-edit-product1-edit-sp">
                <div class="article-edit-product1-edit-sp_edit">
                  <a href="#">
                    <div class="product1-edit-SP">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-texture-01-fair_ee36636ac85d4f71a4a4c75aec1a2f7b_grande.webp" alt="">
                      <img src="../images/it-cosmetics-foundation-bye-bye-lines-foundation-pack-shot-01-fair_decd706602c14e26816553c049d48526_grande.webp" alt="" class="img-change">
                      <p>Bye Bye Lines Foundation</p>
                      <h6>0đ</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bài Viết Mới nhất -->
      <section class="article3">
        <div class="article">
          <div class="article-edit">
            <!-- Sán phẩm bán chạy -->
            <div class="article-edit-heading">
              <h2>Bán viết mới nhất</h2>
              <div class="article-edit-heading2">
                <a href="#"></a>
              </div>
            </div>
            <!-- Bài viết mới nhất -->
            <div class="article3_new">
              <div class="article3_new_edit">
                <div class="article3_new_edit_sp">
                  <div class="article3_new_edit_sp_img">
                    <img src="../images/jhdgsh__1__b8056aacc54e488087d9cff1e76c917b_grande.jpg" alt="">
                  </div>
                  <div  class="article3_new_edit_sp_Text">
                    <p>THỨ NĂM 30,05,2019</p>
                    <h3><a href="#">How to start a new skin care regimen</a></h3>
                    <p>Muji là một thương hiệu nội địa Nhật cực kì nổi tiếng tại thị trường xứ sở Hoa Anh Đào. Mặc dù xuất phát điểm không phải là một nhãn...</p>
                  </div>
                </div>
                <div class="article3_new_edit_sp">
                  <div class="article3_new_edit_sp_img">
                    <img src="../images/jhdgsh__1__b8056aacc54e488087d9cff1e76c917b_grande.jpg" alt="">
                  </div>
                  <div  class="article3_new_edit_sp_Text">
                    <p>THỨ NĂM 30,05,2019</p>
                    <h3><a href="#">How to start a new skin care regimen</a></h3>
                    <p>Muji là một thương hiệu nội địa Nhật cực kì nổi tiếng tại thị trường xứ sở Hoa Anh Đào. Mặc dù xuất phát điểm không phải là một nhãn...</p>
                  </div>
                </div>
                <div class="article3_new_edit_sp">
                  <div class="article3_new_edit_sp_img">
                    <img src="../images/jhdgsh__1__b8056aacc54e488087d9cff1e76c917b_grande.jpg" alt="">
                  </div>
                  <div  class="article3_new_edit_sp_Text">
                    <p>THỨ NĂM 30,05,2019</p>
                    <h3><a href="#">How to start a new skin care regimen</a></h3>
                    <p>Muji là một thương hiệu nội địa Nhật cực kì nổi tiếng tại thị trường xứ sở Hoa Anh Đào. Mặc dù xuất phát điểm không phải là một nhãn...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </section>
    <%- include('../partials/footer') %> <%-include('../partials/link_js.ejs')%>
  </body>
</html>
